@page
@model e404Model
@{
    ViewData["Title"] = "404 Not found";
}

<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
			</div>
			<h2>@Model.ErrorCode</h2>
            <p>@Model.ErrorMessage</p>
			<p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
			<a class="btn-success" href="/Index">My Dashboard</a>
		</div>
	</div>