@page
@model EditAssignee
@{
    ViewData["Title"] = "Update Assignee";
}
<h2>@ViewData["Title"]</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Assignee for @Html.DisplayFor(model => model.Submission.Title)
        </dd>
        <dt>
            Assignee
        </dt>
        <dd>
            <form method="post">
                <select class="custom-select mb-4 col-6" name="Assignee">
                    <option value="PKOUTOUL">Pete</option>
                    <option value="andre.thomas">Andre</option>
                    <option value="RMCQUERR">Ryan</option>
                    <option value="james.howard2">James</option>
                </select>
                <br>
                <button type="submit" class="btn btn-info">Save</button>
                <a class="btn btn-danger" asp-page="./Teamlead">Cancel</a>
            </form>
        </dd>
    </dl>
</div>