@page
@model FormModel
@{
    ViewData["Title"] = "IST Submission Form";
}
<div class="d-flex justify-content-end">
  <a asp-page="/Requester/Requester" class="btn btn-info">
    <i>Back to Dashboard</i>
  </a>
</div>

<form method="post" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6 mx-auto">
      <label for="submitterName" class="auto-populated-label">Name</label><br>
      <input type="text" asp-for="SubmitterName" class="auto-populated-information" name="SubmitterName" id="submitterName" readonly>
    </div>
    <div class="form-group col-md-6 mx-auto ">
      <label for="email" class="auto-populated-label">Email</label><br>
      <input type="email" asp-for="Email" class="auto-populated-information email" name="SubmitterEmail" id="email" readonly>
    </div>
  </div>
      <input type="text" asp-for="LoginID" name="LoginID" id="loginID" hidden>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label for="title">Project Title</label>
        <input type="text" class="form-control" name="Title" id="title" placeholder="Project Title">
    </div>
    <div class="form-group col-md-6">
        <label for="location">My Location</label>
        <input type="text" class="form-control" name="SubmitterLocation" id="location" placeholder="Location" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="projectDescription">Project Description</label>
      <h6 class="card-subtitle mb-2 text-muted"><i>Describe what you want your application to do?</i></h6>
      <textarea type="text" class="form-control" name="Description" id="description" required></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label for="DesiredCompletion">Desired Completion Date</label>
        <h6 class="card-subtitle mb-2 text-muted"><i>How soon will you need this application?</i></h6>
        <input name="DesiredCompletion" id="DesiredCompletion" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label for="files">Relevant Document(s)</label>
        <h6 class="card-subtitle mb-2 text-muted"><i>Add documents that are relavant to your request.</i></h6>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" name="files" class="custom-file-input" id="chooseFileInput">
            <label class="custom-file-label" for="files" aria-describedby="filesToUpload" id="chooseFileLabel">Choose file</label>
          </div>
        </div>
    </div>
    <button type="submit" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#submitNotification">
      Submit
    </button>
  </div>
</form>
  <!-- Notification Modal -->
  <div class="modal fade" id="submitNotification" tabindex="-1" role="dialog" aria-labelledby="submitNotificationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submitNotificationLabel">Request Sent!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Thank you for your request! I want to ensure you that we have received your request. We will review it and connect with you with the next 48hrs to let you know the next steps.
        </div>
        <div class="modal-footer">
          <a asp-page="./Form" class="btn btn-secondary">Submit Another Request</a>
          <a asp-page="Requester/Requester" class="btn btn-info">Dashboard</a>
        </div>
      </div>
    </div>
  </div>