@page
@model IndexModel
@{
    ViewData["Title"] = "IST Submission Form";
}

<form method="post">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="firstName" class="auto-populated-label">First Name</label><br>
      <input type="text" asp-for="FirstName" class="auto-populated-information" name="FirstName" id="firstName" readonly>
    </div>
    <div class="form-group col-md-3">
      <label for="lastName" class="auto-populated-label">Last Name</label><br>
      <input type="text" asp-for="LastName" class="auto-populated-information" name="LastName" id="lastName" readonly>
    </div>
    <div class="form-group col-md-3">
      <label for="email" class="auto-populated-label">Email</label><br>
      <input type="email" asp-for="Email" class="auto-populated-information email" name="Email" id="email" readonly>
    </div>
    <div class="form-group col-md-3">
      <input type="text" asp-for="LoginID" name="LoginID" id="loginID" hidden>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label for="title">Project Title</label>
        <input type="text" class="form-control" name="Title" id="title" placeholder="Project Title">
    </div>
    <div class="form-group col-md-6">
        <label for="location">My Location</label>
        <input type="text" class="form-control" name="Location" id="location" placeholder="Location">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="projectDescription">Project Description</label>
      <h6 class="card-subtitle mb-2 text-muted"><i>Describe what you want your application to do?</i></h6>
      <textarea type="text" class="form-control" name="ProjectDescription" id="projectDescription"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="goal">End Goal</label>
      <h6 class="card-subtitle mb-2 text-muted"><i>What is the current issue and/or what goal would this app be accomplishing?</i></h6>
      <textarea type="text" class="form-control" name="Goal" id="goal"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
        <label for="timeline">Timeline</label>
        <h6 class="card-subtitle mb-2 text-muted"><i>How soon will you need this application?</i></h6>
        <select name="Timeline" id="timeline" class="form-control">
            <option selected>Select</option>
            <option>1 Month</option>
            <option>2 Months</option>
            <option>3-6 Months</option>
            <option>7-12 Months</option>
            <option>1-2 Years</option>
        </select>
    </div>
</div>
    <button type="submit" class="btn btn-info btn-lg btn-block">Submit</button>
</form>