@page
@model IndexModel
@{
    ViewData["Title"] = "Routing...";
}
<div class="d-flex justify-content-end">
  <a asp-page="/Requester/Requester" class="btn btn-info">
    <i>Route</i>
  </a>
</div>
