@page
@model SendEmailModel
@{
    ViewData["Title"] = "Email Test";
}
<h2>@ViewData["Title"]</h2>

<form method="post" asp-page-handler="ProposalSubmissionNotification">
    <input type="submit" class="btn btn-dark" value="Send Email Notification">
</form>

<form method="post" asp-page-handler="CommentNotification">
    <input type="submit" class="btn btn-info" value="Send Comment Notification">
</form>
